<h1>Greetings, <%=	 " #{@name}" %></h1>
<p>Current time is <%=	 time_to_AM_PM(@time) %></p>
<p><%=	 link_to "Google.com", "http://www.google.com" %></p>
<p><%=	 link_to "Bye page", greeter_bye_path %></p>